@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    background: #FFF;
}

.col-item:hover
{
    border: 1px solid #B5E2EC;
    background: #FFF;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
}
.second-navbar{
        top:0px;
    }
    .navbar-new {
        background-color: #20BDD4;
        z-index: 100;
        min-height:40px; height: 40px;
    }
    .navbar-new .navbar-brand,
    .navbar-new .navbar-brand:hover,
    .navbar-new .navbar-brand:focus {
        color: #fff;
        padding: 0px 12px;font-size: 16px;line-height: 40px;
        /*border-right: 1px solid #eee;*/
    }
    .navbar-new .navbar-nav > li > a {
        background-color: transparent;
        color: #fff;
        padding-top: 0px; padding-bottom: 0px; line-height: 40px;
    }
    .navbar-new .navbar-nav > li > a:hover,
    .navbar-new .navbar-nav > li > a:focus {
        background-color: transparent;
        color: #B5E2EC;
        padding-top: 0px; padding-bottom: 0px; line-height: 40px;
    }
    .navbar-new .navbar-text {
        color: #222;
    }
    .navbar-new .navbar-toggle .icon-bar {
        background-color: #333;
    }
    .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #B5E2EC;
        background-color: transparent;
    }

    .navbar-default .navbar-nav>.active> a {
        background-color: transparent;
        color: #20BDD4;
    }
    
    
    h3.menu_head {
        background:#808080;
        padding:15px;
        color: #fff;
        text-transform: uppercase;
        font-size: 15pt;
        margin: 0;
        font-family: "Bariol-Regular", "Open Sans", "Helvetica Neue", Verdana, Arial, sans-serif !important;
        cursor: pointer;
    }
    .search-bar input[type="text"] {
        width:100%;
        padding: 8px 45px 8px 8px;
        border: solid 2px #777;
        -webkit-appearance: none;
        color: rgba(0, 0, 0, 0.74);
        font-family: 'Lato', sans-serif;
        border-radius:3px;
        vertical-align: -webkit-baseline-middle;
    }
    .search-bar button[type="submit"] {
        border: 0px;
        vertical-align: -webkit-baseline-middle;
        width: 80px;
        height: 40px;
        color:white;
        border-radius:4px;
        background-color: #20BDD4;
        font-size: 15pt;
        padding: 2px;
    }
    .search-bar button[type="submit"]:hover {
        color: #4D4D4D;
    }

    /* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 14px 14px 14px 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #E6E6E6;
}



body {
      position: relative;
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }

.produk-home{
    background-color: white; 
    border: 1px solid #eee;
    border-top: 5px solid #808080;
    padding: 0px
}

.produk-home .col-md-2{
    padding: 0px;margin: 0px;height: 320px;
}

.produk-home .col-md-10{
    padding: 0px;margin: 0px;height: 320px;
}
 /* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons .owl-next {
    color: #808080;
    right: 5px;
    top: 100px;   
    font-size: 45pt;
    position: absolute;
    z-index: 100;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
    color: #808080;
    left: 5px;
    top: 100px;   
    font-size: 45pt;
    position: absolute;
    z-index: 100;
}

.discount-label {
    padding:3px; 
    position:absolute;
    float:right;
    top: 3px;
    right: 3px;
    z-index: 4;
    -webkit-border-radius:0 4px 0 4px;
    -moz-border-radius:0 4px 0 4px;
    border-radius:0 4px 4px 0;
}

.discount-label:after { 
    right: 100%; 
    border: solid transparent; content: " "; 
    height: 0; 
    width: 0; 
    position: absolute;
    border-color: rgba(136, 183, 213, 0);
    border-width: 13px; 
    top: 50%; 
    margin-top: -13px;
} 

.discount-label:before {
    content: '';
    z-index: 2;
    position: absolute;
    top: 42%;
    right: 100%;
    width: 5px;
    height: 5px;
    opacity: .95;
    background: #ffffff;
    border-radius: 7px;
    -webkit-box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);
    box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);

}
.discount-label span {
    color:#ffffff;
    font-size:12px;
    text-align:center;
}

.red{ 
background-color:#E80707; 
}

.red:after{ 
border-right-color: #E80707;
  
}


.blue{ 
background-color:#1883DB; 
}
.blue:after{ 
border-right-color: #1883DB; 
}

.green{ 
background-color:#16B516; 
}

.green:after{ 
border-right-color: #16B516;
}

.yellow{ 
background-color:#feaa00; 
}

.yellow:after{ 
border-right-color: #feaa00;
}

.gray{ 
background-color:#737373; 
}

.gray:after{ 
border-right-color: #737373;
}

.black{ 
background-color:#000; 

}

.black:after{ 
border-right-color: #000;
}

.harga_display{
    color: #20BDD4;
    font-weight: bold;
}