
.area{
    /*font-family: wk;*/
    font-size: 15px;
    /*border: solid 2px black;
    border-style: dashed;*/
    padding: 10px;
    /*margin-left: 10px;
    margin-right: 10px;*/
}
.title{
    font-weight: bold;
    font-size: 17pt;
    margin-bottom: 10px;
    /*text-decoration: underline;*/
}
.company{
    font-weight: bold;
    /*font-size: 10pt;*/
}

.title-detail{
    font-weight: bold;
    vertical-align: top;
}
.titik{
    font-weight: bold;
    vertical-align: top;
}
.user{
    font-weight: bold;
    vertical-align: top;
}
.data-detail{
    font-weight: bold;
    vertical-align: top;
}
.table th{
    text-align: center;
}
.table{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin: 10px 0 10px 0;
    /*font-size: 11pt;*/
}
table {
  background-color: transparent;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.SK{
    /*font-size: 13px;*/
    margin: 10px 0 10px 0;
}
.right{
    text-align: right;
}
.detail{
    /*font-size: 10pt;*/
    margin-top: 48px
}
.ket{
    font-weight: bold;
    text-align: right;
    margin-top: 35px;
}
.price{
    line-height: 35px;
    text-align: right;
}
.sign{
    margin-top: 100px;
}
.name{
    margin-top: 200px;
}
.keterangan{
    line-height: 35px;
}

/* BOOTSTRAP */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
strong {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
[class*="col-"] {
    display: inline-block;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}