@font-face{
	font-family: 'open sans';
	src: url('../fonts/OpenSans.ttf') format('truetype');
}
body{
	font-family: 'open sans';
}
/*--- INDEX ---*/
.header-bottom{
    top: 90px;
    height: 90px;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
}
.top{
	font-size: 15px;
	color: #fff;
    padding-right: 20px;
}

.glyphicon-search{
	font-size: 20px;
	color: #fff;
}

.navbar-form {
	margin-left: 40px;
}

.dropbtn {
    background: transparent;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding: 0;
}
.link li{
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;
}
.promo{
	font-weight: bolder;
	color: #ff0000 !important;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: rgba(0,0,0,0.8);
    min-width: 160px;
    box-shadow: none;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 170px;
    height: 40px;
}
.dropdown-menu{
	box-shadow: none;
	border: none;
	border-radius: 0px;
}
/*.navbar-nav{
	margin-top: 5px;
	padding-left: 0;
}*/
/*.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background: transparent;
	border: none;
}*/
.dropdown:focus{
	border: none;
}
.dropdown-content a:hover {
	background-color: rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn { 
    background-color: transparent;
}
/*.navbar-nav>li>a{
	padding-bottom: 0;
}*/

.btn-default:hover{
	background: #1f75ae;
}
#carousel{
	text-align: center;
}
.carousel img{
	width: 100%;
}
.link>li>a{
	margin: 0;
}
.link li{
	list-style: none;
}
.thumbnails li{
	list-style: none;
}
.promo-content{
	text-align: center;
	margin: 0;
	padding: 0;
}
.caption{
	text-align: center;
}
.caption h4{
	font-weight: bold;
	font-size: 20px;
	color: #2385c7;
}
.carousel-control.left{
	background: transparent;
	width: 10px;
}
.carousel-control.right{
	background: transparent;
	width: 10px;
}
.footer{
	background: #def4ff;
	margin-top: 20px;
	border-top: solid 3px #2385c7;
}
.footer-list{
	list-style: none;
	padding: 0;
}
.footer-title h4{
	font-size: 15px;
	font-weight: bold;
}
.footer-list li{
	margin-top: 10px;
	font-size: 14px;
	color: #2385c7;
}
.bottom-page{
	text-align: center;
	background: #afafaf;
	height: 40px;
}
.bottom-page h4{
	margin: 0;
	font-size: 15px;
	color: #7b7b7b;
	padding-top: 15px;
}
.img-promo img:hover{
	z-index: 5;
	position: relative;
	box-shadow: 3px 6px 23px 4px rgba(119, 119, 119, 0.5);
	-moz-box-shadow: 3px 6px 23px 4px rgba(119, 119, 119, 0.5);
	-webkit-box-shadow: 3px 6px 23px 4px rgba(119, 119, 119, 0.5);
}
.link-item:hover{
	text-decoration: none;
	color: #0f649d;
}
.promo:hover{
	text-decoration: none;
	color: #6b0000;
}

/*--- INDEX ---*/

/*--- DETAIL PRODUK ---*/
.detail-title{
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
}
.mode{
	margin-top: 20px;
	width: 90px;
}
.mode span{
	font-size: 20px;
	color: #fff;
	font-weight: bold;
}
.detail-detail{
	border: solid 2px #bcbcbc;
}
.diskon, .diskon:hover, .diskon:focus, .diskon:active, .diskon:active.focus{
	background: #ff0000;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
}
.disc-pad{
	text-align: right;
	margin-top: 5px;
}
.disc-pad span{
	font-size: 13px;
	color: #fff;
}
.old-price{
	font-weight: bold;
	font-size: 15px;
	color: #000;
	margin-left: 10px;
}
.new-price{
	font-weight: bolder;
	font-size: 45px;
	color: #2385c7;
	margin-left: 10px;
}
.detail-content{
	margin-top: 10px;
}
/*--- DETAIL PRODUK ---*/